body {
    font-family: Arial, sans-serif;
    background-color: #edcbe2;
    margin: 0;
    padding: 0;
  }
  
  #game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .gameText {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .choiceButton {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .choiceButton:hover {
    background-color: #45a049;
  }
  
  .choiceButton:active {
    background-color: #3e8e41;
  }